<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>p2p.log</file>
		<append>false</append>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- <logger name="net" level="TRACE"/> -->

	<!-- <logger name="net.tomp2p.connection.ChannelCreator" level="ERROR"/> -->
	<!-- <logger name="net.tomp2p.connection.ConnectionHandler" level="ERROR"/> -->
	<!-- <logger name="net.tomp2p.connection.Dispatcher" level="ERROR"/> -->
<!-- 	<logger name="net.tomp2p.connection.Sender" level="DEBUG"/> -->
	<!-- <logger name="net.tomp2p.connection.TCPChannelCache" level="ERROR"/> -->
	<!-- <logger name="net.tomp2p.connection.RequestHandler" level="ERROR"/> -->
	<!-- <logger name="net.tomp2p.connection.HeartBeat" level="ERROR"/> -->
	<!-- <logger name="net.tomp2p.connection.PeerCreator" level="ERROR"/> -->

<!-- 	<logger -->
<!-- 	name="mapreduce.engine.broadcasting.broadcasthandlers.AbstractMapReduceBroadcastHandler" -->
<!-- 	level="OFF" /> -->
<!-- 	<logger -->
<!-- 		name="mapreduce.engine.broadcasting.broadcasthandlers.timeout.AbstractTimeout" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger -->
<!-- 		name="mapreduce.engine.broadcasting.broadcasthandlers.timeout.JobCalculationTimeout" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger -->
<!-- 		name="mapreduce.engine.broadcasting.broadcasthandlers.timeout.JobSubmissionTimeout" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.storage.DHTConnectionProvider" level="OFF" /> -->
<!-- 	<logger -->
<!-- 		name="mapreduce.engine.broadcasting.broadcasthandlers.JobSubmissionBroadcastHandler" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger -->
<!-- 		name="mapreduce.engine.broadcasting.broadcasthandlers.JobCalculationBroadcastHandler" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.engine.broadcasting.messages.CompletedBCMessage" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.engine.messageconsumers.AbstractMessageConsumer" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger -->
<!-- 		name="mapreduce.engine.messageconsumers.JobSubmissionMessageConsumer" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger -->
<!-- 		name="mapreduce.engine.messageconsumers.JobCalculationMessageConsumer" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.engine.messageconsumers.updates.AbstractUpdate" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.engine.messageconsumers.updates.TaskUpdate" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.engine.messageconsumers.updates.ProcedureUpdate" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.engine.executors.AbstractExecutor" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.engine.executors.JobCalculationExecutor" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.engine.executors.JobSubmissionExecutor" -->
<!-- 	level="OFF" /> -->
<!-- 	<logger name="mapreduce.storage.DHTConnectionProvider" level="OFF" /> -->
<!-- 	<logger name="mapreduce.execution.context.DHTStorageContext" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.execution.domains.ExecutorTaskDomain" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.execution.domains.JobProcedureDomain" -->
<!-- 		level="OFF" /> -->
<!-- 	<logger name="mapreduce.execution.procedures.Procedures" level="OFF" -->
<!-- 	/> -->
<!-- 	<logger name="mapreduce.execution.finishables.AbstractFinishable" -->
<!-- 	level="OFF" /> -->
<!-- 	<logger name="mapreduce.execution.procedures.Procedure" level="OFF" /> -->
<!-- 	<logger name="mapreduce.execution.tasks.Task" level="OFF" /> -->
<!-- 	<logger name="mapreduce.execution.jobs.Job" level="OFF" /> -->
<!-- 	<logger name="net.tomp2p.mapreduce.TaskRPC" level="OFF" /> -->
<!-- 	<logger name="net.tomp2p.mapreduce.DistributedTask" level="OFF" /> -->
	<logger name="net.tomp2p.mapreduce.FutureTask" level="OFF" />
	<logger name="net.tomp2p.mapreduce.Job" level="OFF" />
	<logger name="net.tomp2p.mapreduce.MapReduceGetBuilder" level="OFF" />
	<logger name="net.tomp2p.mapreduce.MapReducePutBuilder" level="OFF" />
	<logger name="net.tomp2p.mapreduce.MapReduceOperationMapper" level="OFF" />
	<logger name="net.tomp2p.mapreduce.PeerConnectionActiveFlagRemoveListener" level="OFF" />
	<logger name="net.tomp2p.mapreduce.PeerConnectionCloseListener" level="OFF" />
	<logger name="net.tomp2p.mapreduce.PeerMapReduce" level="OFF" />
	<logger name="net.tomp2p.mapreduce.MapReduceBroadcastHandler" level="OFF" />
	<logger name="net.tomp2p.mapreduce.examplejob.ExampleJobBroadcastReceiver" level="OFF" />
	<logger name="net.tomp2p.mapreduce.examplejob.StartTask" level="OFF" />
	<logger name="net.tomp2p.mapreduce.examplejob.utils.FileSplitter" level="OFF" />
 <!-- 	<logger name="net.tomp2p.mapreduce.examplejob.MapTask" level="OFF" />  -->
<!-- 	<logger name="net.tomp2p.mapreduce.examplejob.ReduceTask" level="OFF" />  -->


	<!-- <logger name="net.tomp2p.message.TomP2PDecoderUDP" level="TRACE" /> -->
	<logger name="net.tomp2p.message.Decoder" level="DEBUG" />

	<!-- <logger name="net.tomp2p.rpc.BroadcastRPC" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.StructuredBroadcastHandler" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.DefaultBroadcastHandler" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.DefaultTrackerReplication" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.DistributedHashTable" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.DistributedRouting" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.DistributedTask" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.DistributedTracker" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.Peer" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.RoutingMechanism" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.Statistics" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.MaintenanceTask" level="TRACE"/> -->

	<!-- <logger name="net.tomp2p.peers.PeerMap" level="TRACE"/> -->

	<!-- <logger name="net.tomp2p.replication.DefaultStorageReplication" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.replication.DefaultTrackerReplication" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.p2p.Replication" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.replication.ReplicationExecutor" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.replication.Replication" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.replication.TrackerStorageReplication" level="TRACE"/> -->


	<!-- <logger name="net.tomp2p.rpc.RequestHandler" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.rpc.QuitRPC" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.rpc.TrackerRPC" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.rpc.NeighborRPC" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.rpc.PeerExchangeRPC" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.rpc.SynchronizationRPC" level="TRACE"/> -->

	<!-- <logger name="net.tomp2p.rpc.StorageRPC" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.rpc.HandshakeRPC" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.rpc.TaskRPC" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.rpc.BroadcastRPC" level="TRACE"/> -->

	<!-- <logger name="net.tomp2p.storage.StorageLayer" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.storage.StorageMemoryReplication" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.storage.TrackerStorage" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.synchronization.SyncRPC" level="TRACE"/> -->
	<!-- <logger name="net.tomp2p.synchronization.SyncBuilder" level="TRACE"/> -->


	<!-- <logger name="net.tomp2p.task.AsyncTask" level="TRACE"/> -->

	<!-- <logger name="net.tomp2p.utils.ConcurrentCacheMap" level="TRACE"/> -->

	<!-- <logger name="net.tomp2p.relay" level="TRACE"/> -->
	<!-- Disable Netty Warning that I'm aware of -->
	<logger name="io.netty.util.concurrent.SingleThreadEventExecutor"
		level="OFF" />

	<!-- default is OFF, options are: TRACE, DEBUG, INFO, WARN, ERROR, OFF. 
		See http://logback.qos.ch/manual/architecture.html for more information -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
